nav>ul{
    display:flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding:0 8px;
    font-size: 20px;
}
nav li:hover{
    background-color: hotpink;
}
nav li a{
    text-decoration: none;
    color:black;
}
/* nested menu */
nav .dropdown{
    display:none;
    position:absolute;
    background-color: lightgreen;
    padding-left: 0;
    
}
nav li:hover .dropdown{
    display:block;
}